
.el-button{
  height: 29px;
  padding: 8px 12px;
}

.el-date-editor.el-input__wrapper{
  height: 30px;
}

.search-wrapper {
  margin-bottom: 6px;
}

.upload-demo{
  width: 100%;
}
.search-tab{
  margin-top: 10px;
}

.divider-pad{
margin-top: 10px;
}

.el-form .el-select__selection{
  width: 170px;
}

.menu-op {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
